/* css reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, textarea, select, button {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* custom font */
@font-face {
  font-family: "norse-bold";
  src: url(./font/Norse-Bold.otf);
}

body {
  display: flex;
}

/* hero section */
.hero-section{
  background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 100vh;  
  flex-shrink: 0;
}

.hero-section > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3px;
  font-size: 80px;
  color: white;
  font-family: norse-bold;
  text-align: center;
  background-color: rgba(0, 0 , 0, 40%);
  margin-top: 200px;
  margin-bottom: auto;
  
}

.hero-section p{
  padding-top: 10px;
}

form div:first-child{
  padding: 155.45px 250px 50px 40px;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
  line-height: 1.2;
}

form div:first-child > p + p{
margin-top: 20px;
}
